$primary-color: rgb(247, 206, 70);
$secondary-color: black;
$bg-dark: rgb(30, 33, 38);
$bg-light: rgb(230, 230, 230);
$font-color: rgb(170, 170, 170);

@mixin box-shadows {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
